<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /marketing/dai43/01/wascafe
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /marketing/dai43/01/wascafe/index.html [L]
</IfModule>
